.card{
    width: 48%;
    height: 25rem;
    padding: 2rem 3rem;
    background-color: #B9FF66;
    display: flex;
    border-radius: 4rem;
    justify-content: space-between;
    border: 1px solid;
    border-bottom: .25rem solid;
    box-sizing: border-box;
}

.card__img{
    width: 40%;
    padding: 1rem 1rem;
    box-sizing: border-box;
}
.car__img{
    width: 100%;
    height: 100%;
}

.card__text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}
.card__text-btn{
    display: flex;
    gap:.75rem;
    align-items: center;
}
.btn__img{
    width: 10%;
    height: 90%;
}
.card__text-h3{

    font-size:2rem;
    font-weight: normal;
    width: fit-content;
    background-color: #F3F3F3;
    margin: 0px;
    border-radius: .8rem;
}

@media(max-width:1317px){
    .card{
    width: 47%;
}

.card__img{
    width: 50%;
}

.card__text{
    width: 50%;
}
.btn__img{
    width: 20%;
    height: 80%;
}
.card__text-h3{
    font-size:1.5rem;
}
.card__p{
    font-size: 1.2rem;
}
}

@media (max-width:1024px){
    .card{
    width: 100%;
    box-sizing: border-box;
}

.card__img{
    width: 50%;
    padding: .75rem;
    box-sizing: border-box;
}
.car__img{
    width: 100%;
    padding-top:1.2rem;
}

.card__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1.2rem;
    box-sizing: border-box;
}
.card__text-btn{
    display: flex;
    gap:.75rem;
    padding-bottom: .25rem;
}
.card__text-h3{
    width: 100%;
    font-size:2rem;
    width: fit-content;
    background-color: #F3F3F3;
    margin: 0px;
    border-radius: 10px;
}
.btn__img{
    width: 2.75rem;
    height: 2.75rem;
    padding-top:1rem;
}
.card__p{
    padding-top:.75rem;
}
}

@media (max-width:560px){
.card{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.card__img{
    width: 50%;
    padding: .75rem;
    box-sizing: border-box;
}
.car__img{
    width: 100%;
    padding-top:1.2rem;
}

.card__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:.75rem;
    box-sizing: border-box;
}
.card__text-btn{
    display: flex;
    gap:.75rem;
    padding-bottom: .25rem;
}
.card__text-h3{
    width: 100%;
    font-size:1.5rem;
}
.btn__img{
    width: 2.75rem;
    height: 2.75rem;
    padding-top:1rem;
}
.card__p{
    padding-top:.75rem;
}
}



@media (max-width:380px){

.card{
    height: 10rem;
    padding: 0px 10px;
}

.card__text-h3{
    width: 100%;
    font-size:.75rem;
    width: fit-content;
    background-color: #F3F3F3;
    margin: 0px;
    border-radius: .75rem;
}
.btn__img{
    width: 2rem;
    height: 2rem;
    padding-top:25px;
}
.card__p{
    padding-top:.75rem;
}

.card__text{
    width: 30%;
  
}

.card__img{
    width: 70%;
    box-sizing: border-box;
}
.car__img{
    width: 100%;
    padding-top: 2%;
}
.card__p{
    display: none;
}
}





