.casestudies{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
}

.casestudy__text{
    display: flex;
    width: 100%;
    gap:20px;
}

.casestudy__h2{
    background-color: #B9FF66;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 2rem;
}

.casestudy__p{
    max-width: 40%;
    padding-top:1% ;
}
.casestudy__container{
    margin-top: 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.898);
    display: flex;
    border-radius: 4rem;
    padding: 3rem;
    box-sizing: border-box;
    margin-top: 3rem;
}
.casestudy__items{ 
    display: flex;
    flex-direction: column;
    width: 33%;
    border-right: 1px solid #B9FF66;
    color: white;
    padding: 1rem;
}
.casestudy__img{
    display: flex;
    gap:10px;
    color: #B9FF66;
}
.casestudy__items__content{
    height: 70%;
}
