.team{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}
.team__heading{
    display: flex;
    gap:1rem;
}
.team__container{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.team__item{
    width: 30%;
    border-radius: 3rem;
    border: 1px solid black;
    border-bottom: 3px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.team__title{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.team__title--logo{
    width: 12%;
    height: 30%;
}

.item__title--img{
    width: 40%;
    height: 80%;
}
.team__content{
    border-top: 1px solid black;
    height: 50%;
    width: 100%;
    padding-bottom: 1.25rem;
}
.item__title-content{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 3rem;
    padding-left: 1rem;

}
.team__h3{
    margin: 0px;
    font-size: 1.2rem;
}
.team__p{
    margin: 0px;
    font-size: 1rem;
}

@media (max-width:1021px){
    .team__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team__item{
        width: 100%;
    }
    .item__title-content{
        justify-content: center;
    }
    .team__content{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .team__h3{
        font-size: 2rem;
    }
    .team__p{
        font-size: 1.5rem;
    }

}

@media (max-width:512px){
    .team__heading{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team__item{
        width: 100%;
    }
    .item__title-content{
        justify-content: center;
    }
    .team__content{
        margin-top: 2rem;
        font-size: 1rem;
    }
    .team__h3{
        font-size: 1.5rem;
    }
    .team__p{
        font-size: 1rem;
    }

}