.team{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.team__container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:50px;
}
.team__item{
    width: 400px;
    height: 350px;
    border-radius: 45px;
    border: 1px solid black;
    border-bottom: 3px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.team__title{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.team__title--logo{
    width: 50px;
    height: 50px;
}

.item__title--img{
    width: 150px;
    height: 150px;
}
.team__content{
    border-top: 1px solid black;
    height: 30%;
    width: 100%;
}
.item__title-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 10px;

}
.team__h3{
    margin: 0px;
    font-size: 20px;
}
.team__p{
    margin: 0px;
    font-size: 15px;
}