.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__items{
    max-width:70%;
    display: flex;
    height: auto;
    gap:4rem;
    justify-content: space-between;
}
.header__text{
    font-size: 1rem;
    font-weight: 400;
    margin: 0rem;
    padding: 2.5% 0px;

}

.header__menu{
    display: none;
}


@media (max-width:1280px){
    .header__items{
    max-width:70%;
    display: flex;
    height: auto;
    gap:1.5rem;
    justify-content: space-between;
}
}

@media(max-width:1024px){
    .header__items{
        display: none;
    }
    .header__menu{
        display: block;
    }
}