.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__items{
    display: flex;
    max-width: 811px;
    height: auto;
    gap:40px;
    justify-content: space-between;
}
.header__text{
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    padding: 20px 0px;

}

.header__menu{
    display: none;
}


@media (max-width:1201px){
    .header__items{
        gap:20px;
    }
    .requestQoute{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 12px;
        padding: 10px 15px;
        box-sizing: border-box;
        max-width: 231px;
        max-height: 68px;
     }
}
@media(max-width:1021px){
    .header__items{
        display: none;
    }
    .header__menu{
        display: block;
    }
}