.contactus__p{
    padding-top: 1rem;
}
.contactus{
    margin-top: 8rem;
}
.contact__heading{
    display: flex;
    gap:1rem;
}
.form{
    display: flex;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 45px;
    margin-top: 4rem;
}
.form__content{
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    

}
  input[type="radio"] {
        accent-color: #57a30c4b
    }

.radiobtn{
    display: flex;
    padding-bottom: 20px;
    gap:10px;
    font-size:20px;
}
.form-img{
    display: flex;
    justify-content: end;
    margin-right: -10%;
    width:30%;
    overflow: hidden;
    
}

.contactus-img{
   
   width: 100%;
   height: 80%;
   padding-top:15% ;
   padding-left:35%;
}
.input-fields{
    width:100%;
    font-family: 'Space Grotesk', sans-serif;
}